nav {
    background-color: var(--green-main);
    padding: 1rem;
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  nav a {
    color: var(--text-light);
    text-decoration: none;
    margin-left: 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  